:root {
  --blue: #92b4ec;
  --white: #ffffff;
  --gold: #ffd24c;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: var(--gold);
}

HTML,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: var(--white);
}

/* nav bar */
#myNav {
  background-color: var(--blue);
  width: 100vw;
  position: fixed;
  height: 50px;
  display: block;
}

#navHeader {
  text-align: right;
  float: right;
  padding: 10px;
  margin: 0;
}

#navIcon {
  cursor: pointer;
  float: left;
  padding: 10px 20px;
}

ul {
  margin: 0;
}

.menuContainer {
  display: none;
}

.menuContainer.open {
  display: block;
  color: black;
  transition: 200ms;
  width: 150px;
  position: absolute;
  top: 50px;
  background-color: #92b4ec;
  z-index: 1;
}

.menuLink {
  list-style-type: none;
}

.container {
  position: absolute;
  width: 100vw;
  margin: 50px 0px;
}

#box1 {
  background-color: grey;
}

#box2 {
  background-color: beige;
  color: black;
}

#box3 {
  background-color: slategray;
  color: black;
}
