:root {
  --blue: #92b4ec;
  --white: #ffffff;
  --gold: #ffd24c;
  --navHeight: 46px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

HTML,
body,
h1,
h2 {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--white);
}

/* nav bar */
#myNav {
  background-color: var(--blue);
  width: 100vw;
  position: fixed;
  height: var(--navHeight);
  display: block;
}

#navHeader {
  text-align: right;
  float: right;
  padding: 10px;
  margin: 0px;
}
.navBtn {
  background-color: #ffd24c;
  padding: 2px;
  position: absolute;
  border-radius: 50px;
  display: inline;
  margin: 7px;
}

#navIcon {
  cursor: pointer;
  float: left;
  padding: 5px 10px;
}

#navIcon.open {
  cursor: pointer;
  float: left;
  padding: 10px 10px;
}

ul {
  margin: 0;
  padding: 0;
}

.menuContainer {
  display: none;
}

.menuContainer.open {
  display: block;
  color: black;
  transition: 200ms;
  width: 200px;
  position: absolute;
  top: 40px;
  background-color: #92b4ec;
  z-index: 1;
  margin: 0;
  padding: 5px;
  border-bottom-right-radius: 30px;
}

.menuLink {
  list-style-type: none;
  padding: 10px;
}

.menuLink:hover {
  font-size: 17px;
  font-weight: bold;
}
.menuLink.open:hover {
  font-size: 17px;
  font-weight: bold;
}

.menuLinkIcon {
  margin-left: 5px;
  display: none;
}

.menuLinkIcon.open {
  margin-left: 5px;
  display: inline;
}

.container {
  position: absolute;
  width: 100vw;
  margin: 0px 0px;
  top: var(--navHeight);
}

#box1 {
  background-color: grey;
}

#box2 {
  height: 30px;
  background-color: beige;
  color: black;
}

#box3 {
  height: 30px;
  background-color: slategray;
  color: black;
}
